:root {
    --color-primary: #0c0d10;
    --color-secondary: #f9ff00;
    --color-tertiary: #31cbc4;
    --color-button: #31cbc4;
    --color-button-hover: #206567;
    --color-text: #FFFFFF;
    --color-links: #808306  ;
}

*{
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

.header__image {
    display: flex;
    justify-content: center;
    padding: 1%;
}

.content {
    background-image: url('assets/header-desk.1730889067.png');
    position:relative;
    width: 100%;
    height: 26.25rem;
    margin: auto;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 10px;
}

.content__questions {
    background-color: var(--color-primary);
    width: 40%;
    max-height: 18.75rem;
    border-radius: 2%;
    border: var(--color-secondary) solid;
    padding: 3% 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.content__questions h4{
    text-align: center;
}

.content__answer {
    background-color: var(--color-primary);
    width: 40%;
    height: 18.75rem;
    border-radius: 2%;
    border: var(--color-tertiary) solid;
    padding: 3% 1%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.content__answer p {
    font-weight: 600;
    color: var(--color-tertiary);
}

.content__input{
    max-width: 40%;
    margin: 1rem 1.5rem; 
    border-radius: 5px;
    padding: 0.5rem;
}

.content__button__save{
    max-width: 40%;
    margin: 1rem 1.5rem; 
    border-radius: 5px;
    padding: 0.5rem 0.75rem;
    background-color: var(--color-button);
    color: var(--color-text);
    border: none;
    font-weight: 600;
}

.content__button__front{
    display: flex;
    justify-content: space-between;
    max-width: 40%;
    margin: 1rem 1.5rem; 
    border-radius: 5px;
    padding: 0.5rem 0.75rem;
    background-color: var(--color-secondary);
    color: var(--color-links);
    border: none;
    font-weight: 600;
}
.content__button__back{
    max-width: 40%;
    margin: 1rem 1.5rem; 
    border-radius: 5px;
    padding: 0.5rem 0.75rem;
    background-color: var(--color-tertiary);
    color: var(--color-button-hover);
    border: none;
    font-weight: 600;
}

.content__button__save:hover{
    background-color: var(--color-button-hover);
}

.content__button__back:hover{
    background-color: var(--color-button-hover);
    color: var(--color-button);
}

.content__button__front:hover{
    background-color: var(--color-links);
    color: var(--color-secondary);
}

.footer{
    color: var(--color-tertiary);
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}

