:root {
    --color-primary: #0c0d10;
    --color-secondary: #f9ff00;
    --color-tertiary: #31cbc4;
    --color-button: #31cbc4;
    --color-button-hover: #206567;
    --color-text: #FFFFFF;
    --color-links: #808306  ;
}